* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.logo {
    width: 80px;
    margin-right: 80px;
    margin-left: 50px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu>div>a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;

    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-item {
    position: absolute;
    width: 200%;

    padding: 10px;
    padding-right: 20px;

    top: 100%;
    border: 1px solid rgba(255, 255, 255, 0.925);
    border-radius: 10px;
    background-color: white;

    visibility: hidden;
    opacity: 0;

    transition-duration: 0.3s;
}

.dropdown-item>a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px;
    font-size: 14px;
}

.dropdown:hover>.dropdown-item {
    visibility: visible;
    opacity: 1;
}

.menu-end {
    display: flex;
    justify-content: center;
}

.nav-search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
}

.nav-search {
    width: 180px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: rgba(172, 172, 172, 0.637);
}

.nav-search-box > img{
    width: 30px;
}

.main-back{
    display: flex;
    width: 100%;
}

.main-back-title {
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    top: 280px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    
}

.main-back-title > span{
    font-size: 57px;
}

.main-back-title > p{
    font-size: 28px;
    clear: both;
    margin: 30px 0 0 0;
    letter-spacing: -2px;
}

.main-back-img{
    height: 100%;
    width: 100%;
}

.main-search-box{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #A1C652;
    border-radius: 30px;
    border: 1px solid rgb(255, 214, 32);
    width: 600px;
    height: 300px;
    left: 50%;
    top: 500px;
    transform: translate(-50%,0);
    flex-direction: column;
    justify-content: center;
}
.search-box{
    display: flex;
    align-items: center;
}

#imaTag{
    display: flex;
    width: 40px;

}

.main-search-box > p{
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.main-search{
    outline: none;
    width: 500px;
    height: 50px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #B9DC74;
}

